@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    margin: 0 auto;
    padding: 50px 15px;
    overflow-y: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 50%;
}
h1 {
    font-size: 2.2em;
    padding-top: 20px;
}
.info-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
ul {
    list-style-type: none;
}
.position {
    font-size: 1.7em;
    color: #636874;
    padding-bottom: 5px;
    padding-top: 5px;
}
.email {
    font-size: .9em;
    font-weight: bolder;
}
.links {
    display: flex;
    align-items: center;
    font-size: 1.3em;
    gap: 10px;
}
.content {
    padding-top: 20px;
}
p {
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 1.4em;
}